<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="google-site-verification" content="hRAE0d5pFPMeTjLjHmO64a5LpfbB4MCQk7-G1OE01po" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{{ site.title }}</title>
  
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title }}</h1>
	
			<p><a href="https://www.linkedin.com/in/richard-may-0a2700166/" rel="me noopener noreferrer">Researcher</a>
			</br>
      <a href="https://www.hs-harz.de/en" rel="me noopener noreferrer">Harz University of Applied Sciences</a>
    </p>
        
        <div text-align="center">
        <a href="mailto:rmay@hs-harz.de">
        </a>
	      
    
	
      </header>
      <section>
    
	      
	      <br>
	      
	      <hr>
	      
	      <br>

      {{ content }}

      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
   
  </body>
</html>